# List of admin user IDs separated by slashes
ADMINS=111111111/222222222

# Telegram bot token
BOT_TOKEN="your_bot_token_here"

# Using the url connection to Redis (scheduler db must be different from just redis db, for example 1)
REDIS_URL="redis://user:password@host:port/db"
REDIS_URL_SCHEDULER="redis://user:password@host:port/db"

# Using the url connection to PostgreSQL Database
POSTGRES_URL="postgres://<username>:<password>@<host>:<port>/<database>"

# For example: en,ru,fr
SUPPORTED_LANGS=en,ru
# For example: en
DEFAULT_LANG=en