# List of admin user IDs separated by slashes
ADMINS=111111111/222222222

# Telegram bot token
BOT_TOKEN="123456789:ABCdefGhIjkLmNoPqRsTuVwXyZ"

# Using the url connection to Redis (scheduler db must be different from just redis db, for example 1)
REDIS_URL="redis://localhost:6379/0"
REDIS_URL_SCHEDULER="redis://localhost:6379/1"

# Using the url connection to PostgreSQL Database
POSTGRES_URL="postgres://postgres:password@127.0.0.1:5432/my_db"

# For example: en,ru,fr
SUPPORTED_LANGS=en,ru
# For example: en
DEFAULT_LANG=en

# Full description of .env file in README.md and README.ru.md